* body{background-color: #ff9fc9;

}






h1{font-family: helvetica;
font-size: 80px;
color: #ffffff;
margin-top: 15px


}

ul{font-family: helvetica;
font-size: 30px;
color: #ffffff;
margin-top: 25px;


}
