* body{background-color: pink;

}






h1{font-family: helvetica;
font-size: 80px;
color: #F48081;
margin-top: 15px


}

ul{font-family: helvetica;
font-size: 30px;
color: pink;
margin-top: 25px;


}
