
body {background-color: #aea5ff;}


h1 {font-family: helvetica;
   font-size: 100px;
   color: #fff;
   margin-top: 25px}


ul {font-family: helvetica;
   font-size: 30px;
   color: #fff;
   margin-top: 25px;}



 button {
  background-color:#ffd59d;
  border: none;
  color:white;
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}




.container {
  background-image:url("https://images.unsplash.com/photo-1586376156102-a4859b8783d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;}


h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;}




body {
  background-color: #aea5ff;}

p {
  font-family: helvetica, sans-serif;
  font-size:72px;
  font-weight:500;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  top: 65px;
  position:relative;
  color: #fff;}


/*---Media Queries---*/
@media screen and (max-width: 1000px) {
  body {
    background-color: #ffd59d;}
}

@media screen and (max-width: 500px) {
  body {
    background-color: #ffd5f7;}
