* body{background-color: #B8A1FF;}

h1{font-family: helvetica;
font-size: 80px;
color: #9bc4ff;
margin-top: 15px}


ul{font-family: helvetica;
font-size: 30px;
color: #9bc4ff;
margin-top: 25px;}


button{background-color:#9bc4ff;
  border: none;
  color:white;
  font-family:helvetica, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;}

  .container {
  background-image: url(https://images.unsplash.com/photo-1570978561297-793391262fea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;
}


  h1 {
    color: #fff;
    font-size:52px;
    position:relative;
    text-align:center;}
