* body{background-color: #B8A1FF;}

h1{font-family: helvetica;
font-size: 80px;
color: #F48081;
margin-top: 15px}


ul{font-family: helvetica;
font-size: 30px;
color: #F48081;
margin-top: 25px;}


button{background-color:#9bc4ff;
  border: none;
  color:white;
  font-family:helvetica, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;}
