
body {background-color: white;}


h2 {
  font-family: Avenir Black ;, sans-serif;
  color: #fff;
  font-size:25px;
}

p1 {
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    line-height: 27;
  }



.picture-container1 {
  margin:47px auto;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 3%;
}



.body-container1 {
margin-right:41px;
display: inline;
background-color: white;
height: 289px;
width: 860px;
}


.picture-container2 {
  margin:47px auto;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 3%;
}
