body {
background-color:#DBCFC7;
}


h1{
  font-family: Optima, sans-serif;
  color: black;
  font-size:50px;
  position: relative;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}


h2{
  font-family: Optima, sans-serif;
  color: black;
  font-size:40px;
  position: relative;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  display: internal;
  }


h3{
    font-family: Optima, sans-serif;
    color: black;
    font-size:35px;
    position: relative;
    }


h5{
  font-family: Optima, sans-serif;
  color: black;
  font-size:35px;
  position: relative;
  text-align: center;
}

p1	{
		color: black;
		font-family: Optima;
		font-size:33px;

}


p2	{
			color: black;
			font-family: Optima;
			pont-size:10px;
      text-align: center;

			}



body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  font-family: Optima, sans-serif;
  width: 100%;
  background-color: #C6AD9D;
  text-align: center;
  padding: 5px auto;
}

.nav-bar a  {
  width:100%;
  color: black;
  text-decoration: none;
}

.nav-bar:first-child, .nav-bar:first-child {
  padding: 10px 0px;
}

@media only screen and (min-width:100px) {
  .nav-bar{
  display: flex;
  justify-content: space-around;
  }


/*Desktop Styles*/
@media only screen and (min-width: 800px) {

  p {
    font-family: optima;
    color: #black;
    font-size: 15px;
    text-align: center;
  }
  section {
    font-family: Optima, sans-serif;
    color: ##855A5A;
    font-size:65px;
    position: relative;
    text-align: center
  }

  .logo{
    margin-top: 10px;
    text-align:center;
    margin-bottom: 6px;
  }

  button {
    border: none;
    font-family: Optima;
    color: black;
    font-size: 25px;
    background-color: #F0DBDB;
    padding:1em 2em 1em 2em;
  }

  .about{
    color: black;
    font-size:55px;
    text-align: center;
  }


.title-1{
    display:inline;
    float:left;
    padding-right: 4%
  }

.title-2{
    display:inline;
    float:center;
}

.title-3{
  display:inline;
  float:right;
  padding-right: 1%
}



.photo-1 {
  	display: inline-flex;
  	margin-left: 5%;
  	margin-right: 4%;
  	margin-bottom: 4%;
  }

.photo-2 {
	display: inline-flex;
	margin-right: 4%;
	margin-bottom: 4%;
}

 .photo-3 {
	display: inline-flex;
	margin-right: 4%;
	margin-bottom: 4%;
}


#map {
  display:inlie;
  align: center;
  height: 600px;


}
