body {
background-color:#F4ECD6;
}

h1 {
  font-family: Optima,sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;

}

h2 {
  font-family: Optima, sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: black;
}


.container
{
  background-image: url(https://github.com/Jwdavi15/gra-321/blob/master/responsive-design/img/nordwood-themes-Ex5TQsRANZk-unsplash.jpg?raw=true);
  background-repeat: no-repeat;
  width:100%;
  height: 100px;
  background-size:cover;
  background-position: left center;
  align-content: center;
  display: flex;
  justify-content: center;
}

.body-container1
{
  margin-left: 5%;
  margin-bottom: 10%;
  margin-left: 10%;
  display: inline-block;
}

.body-container2
{
  margin-left: 5%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 5%;
  display: inline-block;
}

.small-container{
  display:inline-block;
  margin-left: 10%;
}

.small-container2{
  display:inline-block;
  margin-left: 13.5%;
}

.ML-container{
  display:inline-block;
  margin-left: 5%;
}

p1 {
  font-family: Optima,sans-serif;
  font-size: 20px;
  line-height: 22px;
}

p2{
  font-family: Optima,sans-serif;
  font-size: 13px;
  line-height: 22px;
}
p3{
  font-family: Optima,sans-serif;
  font-size: 15px;
  line-height: 22px;
}


header {
background-color: white;
width: 100%;
margin-left: 5%;
margin-right: 5%;
}

.header-nav {
  background-color: #E8C69F;
  width:100%;
  margin-right: 20%;
}

.nav-bar {
  align-item
  s: center;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

#logo {
height:50px;

}

#toggle {
display:none;
}

label {
font-size: 40px;
line-height:100px;
 cursor: pointer;
 margin-left: 2.5%;
}

ul.menu-items {
list-style-type: none;
text-align: left;
display: block;
margin-right: 5%;


}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: black;
  display:block;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}

#map {
  width: 50%;
  display: flex;
  margin-left: 10%

}

a:link {
  font-family: sans-serif;
  font-size: 25px;
  line-height: 22px;
  color: #550000;
  text-decoration: none;

}




/*Desktop Styles*/
@media only screen and (min-width: 800px) {

.header-nav {
  background-color: #E8C69F;
  width:100%;
  margin: 0 auto;
  display:block;
    align-items: left;
    justify-content: space-between;
margin-right: 20%;
  }

header {
    background-color: white;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    }


.nav-bar {
  position: relative;
  display: block;
width:100%;
margin-right: 20%;
}

.container
{
  background-image: url(https://github.com/Jwdavi15/gra-321/blob/master/responsive-design/img/nordwood-themes-Ex5TQsRANZk-unsplash.jpg?raw=true);
  background-repeat: no-repeat;
  width:100%;
  height: 100px;
  background-size:cover;
  background-position: left center;
  align-content: center;
  display: flex;
  justify-content: center;
}

#logo {
height:50px;
align-self: center;
display: block;
}

#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display:inline-flex;
margin: 0;
list-style-type: none;
text-align: left;
border-top:none;
  width: 100%;
  justify-content: space-between;
}

ul.menu-items a {
display:table;
margin-right: 20%;
padding-right: 20%;
}

ul.menu-items {
list-style-type: none;
text-align: left;
display: flex;
margin-right: 20%;
}

.small-container{
  display:inline-block;
  margin-left: 20%;
}

.small-container2{
  display:inline-block;
  margin-left: 22%;
}

#map {
  display:inlie;
  margin-left: 60%;
  align: right;
  width: 350px;
  height: 350px;

}

#food {

  width: 350px;
  height: 350px;
  object-fit:cover;
}

#hot-drink {
  width: 350px;
  height: 350px;
}

#cold-drink {
  width: 350px;
  height: 350px;
}

h1 {
  font-family: Optima,sans-serif;
  font-size: 50px;
  font-weight: semi-bold

}

h2 {
  font-family: Optima,sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 22px;
}

p1 {
  font-family: Optima,sans-serif;
  font-size: 30px;
  line-height: 40px;
}

p2{
  font-family: Optima,sans-serif;
  font-size: 25px;
  line-height: 40px;
}

}
