body {
background-color:#F4ECD6;
}

h1 {
  font-family: Optima,sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;

}

h2 {
  font-family: Optima, sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  color: black;
}


p1 {
  font-family: Optima,sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: black;
}

p2{
  font-family: Optima,sans-serif;
  font-size: 13px;
  line-height: 22px;
}
p3{
  font-family: Optima,sans-serif;
  font-size: 15px;
  line-height: 22px;
}



.header-nav {
  background-color: #F4ECD6;
  width:100%;
}

.nav-bar {
  display:flex;
  align-items: left;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

#logo {
height:60px;
margin-left: 19px;
}

#toggle:checked ~ ul.menu-items {
display:none;
}

#toggle {
display:none;
}


ul.menu-items {
padding: 20px 0 0 0;
margin: 0;
list-style-type: none;
text-align: left;
display: block;
color: black;
margin-right: 19px;
}


ul.menu-items a {
  text-decoration:none;
  font-family: Optima,sans-serif;
  line-height:19px;
  font-size: 18px;
  text-align: right;
  color: black;
  display:block;
}


ul.menu-items a:first-of-type {
  padding-top:10px;
}

ul.menu-items a:last-of-type {
  padding-bottom:10px;
}


a:link {
  font-family: sans-serif;
  font-size: 25px;
  line-height: 19px;
  color: #F4ECD6;
  text-decoration: none;

}



label {
font-size: 50px;
line-height:100px;
cursor: pointer;
background-color: #F4ECD6;
margin-right: 19px;
}



body {
  margin: 0px;

  background-color: #F4ECD6;
}

section {
  background-color: #F4ECD6;

}

.column-one, .column-two {
width: 100%;
}

.column-one img {
margin-top: 40px;
width: 100%;
}

.column-two {
margin-left: 19px;
line-height: 31px;
text-align: left;
margin-bottom: 20px;
margin-top: 20px;
}



.column-three img {
width: 100%;
margin-bottom: 20px;
}

.specials{
  margin-top: 40px;
  margin-bottom: 20px;
}

.title-1{
margin-left: 19px;
}

.drinks{
margin-top: 20px;
}


.contact-info{
margin-left: 19px;
margin-top: 20px;
margin-bottom: 20px;

}

.location-info{
margin-left: 19px;
margin-top: 20px;
margin-bottom: 20px;


}

.address {
  line-height: 25px;
}

.hours {
  line-height: 25px;
}

.body-container1
{
  margin-bottom: 10%;
  margin-left: 19px;
  display: inline-block;
  text-align: left;
  line-height: 31px;
}

.body-container2
{
  margin-left: 5%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 5%;
  display: inline-block;
  line-height: 31px;
  margin-left: 19px;
}

.small-container{
  display:inline-block;
  margin-left: 34px;
  line-height: 31px;
}

.small-container2{
  display:inline-block;
  margin-left: 5%;
  line-height: 31px;
}

.ML-container {
  display:inline-block;
  margin-left: 5%;
  line-height: 31px;
}

#map {
  width: 500px;
  height: 402px;
}



@media only screen and (min-width: 800px) {
  .header-nav {
  background-color: #F4ECD6;
  width:95%;
  margin: 0 auto;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}


.nav-bar {
  display:inline-block;
  position: relative;
  padding: 30px 0 30px 0;
  width:100%;
}


#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display: flex;
margin: 0;
list-style-type: none;
text-align: right;
border-top:none;
  width: 400%;
  justify-content: space-between;
}

  ul.menu-items {
padding: 0px 0 0px 0;
height: 60px;
}
